@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h6 class="display-7 text-dark">This is a code case for <b style="font-weight:800">Acsight</b> </h6>
    <h6 class="display-7 text-dark">Please don't forget setting your <b style="font-weight:800">connection string</b> in both api and web application and your api address in web application,</h6>
    <h6 class="display-7 text-dark">also <b style="font-weight:800">register</b> in order to access all futures at the top the right corner.</h6>

    <h6 class="display-6 text-body"> <b style="font-weight:800">Alper SARAC </b></h6>
         

</div>
