@model IEnumerable<Rentiva.Models.Category>
@{
    ViewData["Title"] = "Index";
}
<style>

    input[type="button"] {
        transition: all .3s;
        border: 1px solid;
        border-color:inherit;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 0px;
        font-size: 15px;
    }

    input[type="button"]:not(.active) {
        background-color: transparent;
    }

    .active {
        background-color: indianred
        color: inherit;
    }

    input[type="button"]:hover:not(.active) {
        background-color: inherit;
    }
</style>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Create New Category
            </a>
        </div>
    </div>
    <br />
    <table id="DataTableResult" class="table table-bordered table-striped border-1 rounded-circle" style="text-align: inherit; vertical-align: middle;">
        <thead>
            <tr>
                <th >
                Category Name
            </th>
            
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
                <tr>
                    <td >
                    @obj.Name
                </td>
               
                    <td >
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="List" asp-route-id="@obj.Id"
                           class="btn btn-success mx-3"> <i class="bi bi-list"></i>Show</a>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"
                            class="btn btn-info mx-3"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-3"> <i class="bi bi-trash-fill"></i>Delete</a>
                           
                           
                    </div>
                        
                </td>
                </tr>
        }
       
    </tbody>
</table>

</div>
<script type="text/javascript">
    var $table = document.getElementById("DataTableResult"),
        $n = 8,
        $rowCount = $table.rows.length,
        $firstRow = $table.rows[0].firstElementChild.tagName,
        $hasHead = ($firstRow === "TH"),
        $tr = [],
        $i, $ii, $j = ($hasHead) ? 1 : 0,
        $th = ($hasHead ? $table.rows[(0)].outerHTML : "");
    var $pageCount = Math.ceil($rowCount / $n);
   
    if ($pageCount > 1) {
        for ($i = $j, $ii = 0; $i < $rowCount; $i++, $ii++)
            $tr[$ii] = $table.rows[$i].outerHTML;
        $table.insertAdjacentHTML("afterend", "<div id='buttons'></div");
        sort(1);
    }

    function sort($p) {
       
        var $rows = $th, $s = (($n * $p) - $n);
        for ($i = $s; $i < ($s + $n) && $i < $tr.length; $i++)
            $rows += $tr[$i];

        $table.innerHTML = $rows;
        document.getElementById("buttons").innerHTML = pageButtons($pageCount, $p);
        document.getElementById("id" + $p).setAttribute("class", "active");
    }

    function pageButtons($pCount, $cur) {
       
        var $prevDis = ($cur == 1) ? "disabled" : "",
            $nextDis = ($cur == $pCount) ? "disabled" : "",
            
            $buttons = "<input type='button' value='<< Prev' onclick='sort(" + ($cur - 1) + ")' " + $prevDis + ">";
        for ($i = 1; $i <= $pCount; $i++)
            $buttons += "<input type='button' id='id" + $i + "'value='" + $i + "' onclick='sort(" + $i + ")'>";
        $buttons += "<input type='button' value='Next >>' onclick='sort(" + ($cur + 1) + ")' " + $nextDis + ">";
        return $buttons;
    }

</script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>